* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'roboto';
}

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.timer {
  font-size: 10rem;
  font-family: 'rounded_led_board-7', 'rubik';
  font-weight: bold;
}
#start, #stop {
  padding: 10px;
  border-radius: 5px;
  text-transform: uppercase;
  border: none;
  color: white;
  width: 80px;
  height: 40px;
  cursor: pointer;
}
#start {
  background: mediumseagreen;
}
#stop {
  background: tomato;
}

